.userProfile {
    margin: 100px 30px 0 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

#table-interactions {
    margin: 20px;
    width: 100%;
    text-align: left;
}

th {
    color: red;
}

.mods {
    background-color: transparent;
    color: red;
    padding: 5px 0 0 5px;
} 

.mods:hover {
    color: #b81d24;
} 


